.mh-0 {
    margin-left: 0;
    margin-right: 0;
}

.m-1 {
    margin: $gapSmall;
}

.mt-1 {
    margin-top: $gapSmall;
}

.mb-1 {
    margin-bottom: $gapSmall;
}

.ml-1 {
    margin-left: $gapSmall;
}

.mr-1 {
    margin-left: $gapSmall;
}

.mv-1 {
    margin: $gapSmall 0px;
}

.mh-1 {
    margin: 0px $gapSmall;
}

.m-2 {
    margin: $gapMedium;
}

.mt-2 {
    margin-top: $gapMedium;
}

.mb-2 {
    margin-bottom: $gapMedium;
}

.ml-2 {
    margin-left: $gapMedium;
}

.mr-2 {
    margin-left: $gapMedium;
}

.mv-2 {
    margin: $gapMedium 0px;
}

.mh-2 {
    margin: 0px $gapMedium;
}

.m-3 {
    margin: $gapLarge;
}

.mt-3 {
    margin-top: $gapLarge;
}

.mb-3 {
    margin-bottom: $gapLarge;
}

.ml-3 {
    margin-left: $gapLarge;
}

.mr-3 {
    margin-left: $gapLarge;
}

.mv-3 {
    margin: $gapLarge 0px;
}

.mh-3 {
    margin: 0px $gapLarge;
}

.m-4 {
    margin: $gapXLarge;
}

.mt-4 {
    margin-top: $gapXLarge;
}

.mb-4 {
    margin-bottom: $gapXLarge;
}

.ml-4 {
    margin-left: $gapXLarge;
}

.mr-4 {
    margin-left: $gapXLarge;
}

.mv-4 {
    margin: $gapXLarge 0px;
}

.mh-4 {
    margin: 0px $gapXLarge;
}